
        .chkHeadmain {
            width: 100%;
            background: #f4f4f4;
        }
        
        #head {
                    height: 70px;
                    width: 100%;
                    background: #f4f4f4;
                   } 
        
                * {
                    margin: 0;
                   padding: 0;
                    
                }
        
            #midhead {
            display:flex;
            height: 80px;
            width:100%; 
            margin: auto;
            margin-top:0px;
            justify-content: space-around;
            
        }
        
           #midhead  div {
         display:flex;
         height: 80%;
         width: 30%;
         justify-content: space-around;
         
        
         }
        #logo>a{
            margin: auto;
        }
        
         #logo img {
             margin: auto;
            height: 20px;
            padding: 30;
            
            
        } 
        
        ul {
            display: flex; 
             justify-content: space-around; 
            list-style-type:none;
            margin: auto;
        
          
        }
           #shopingStep li {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    
}
  
#shopingStep li a{
    color: #adadad;
    padding: 10px 20px; 
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    
    

}

#secureBox{
    
    font-size: 14px;
    float: right;
    color: #adadad;
    line-height: 30px;
    
}
#secureBox li{
    text-align: center;
    margin: auto;
}
                                        /* below header   */

.headtwo{
    /* border: 1px solid brown; */
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
    padding-left: 160px;
    color: #999797;
    margin-bottom: 20px;
    margin-top: 10px;
}
.bigcontainer{
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-around;

}
.bigone{
border: 1px solid #ccc;
}
.bigone div{
    border: 1px solid #ccc;
    /* margin: 10px; */
    padding: 10px;
    background-color: #f4f4f4;
}
.bigtwo{
border: 1px solid #ccc;
width: 450px;
}
.top{
    width: 100%;
    /* border: 1px solid seagreen; */

}
/* .bigthree{ */
/* border: 1px solid blueviolet; */

/* } */
.bigtwo>.top>h4{
    /* padding-right: 40px; */
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(172, 167, 167);
}

.input{
/* border: 1px solid teal; */
padding: 5px;
margin-top: 20px;
}
.input input{
    width: 80%;
    margin-left: 30px;
    padding: 5px;

}

.input input::placeholder{
    font-size: 17px;
}

.threeinput{
    width: 80%;
    margin: 20px 20px 0 30px;
    /* border: 1px solid purple; */
    padding: 5px;
}
.threeinput input{
    width: 15%;
    height: 30px;
    margin-right: 30px;
}
/* .threeinput svg{
    padding: 10px;
} */

.btn{
    background-color: pink;
    color: white;
    width: 400px;
    height: 50px;
    margin-left: 16px;
    border: none;
    margin-top: 30px;
    margin-bottom: 70px;
}
.btn a{
    color: #f4f4f4;
    font-size: 20px;
    text-decoration: none;
}
/* .bottomtwo{ */
    /* border: 1px solid brown; */
/* } */
.safe div{
    display: flex;
    /* border: 1px solid springgreen; */
    justify-content: space-between;
}
.safe div div p{
    font-size: 12px;
    color: rgb(146, 145, 145);
}
.img img{
    width: 450px;
    margin-top: 5px;
}
.secondbottom{
    margin-top: 20px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px;
    padding-top: 14px;
    padding-bottom: 14px;
}
.bottom{
    display: flex;
    justify-content: space-around;
    color: #413f3f;
}