.topmost{
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 36px;
    background: #fff;
    top: 0;
   z-index: 99999;
}
*{
    box-sizing: border-box;
    font-size: 11PX;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 38px;
    color: #323232;
    font-family: 'Lato',sans-serif;
}
.exleft{
    margin-left: 20px;
}
.exright{
    margin-right: 20px;
}
.inside{
    height: 30px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-right: 1px solid rgb(41, 38, 38);
    
}

.fab{
    background-color: black;
    height: 36px;
    width: 100px;
}
.fab img{
    
    margin-top: 10px;
    margin-left: 15px;
     height: 15px;
    
}
.pink{
    color: #fc6486;
}
/* second navbar */

.topmost-2{
    height: 120px;
    width: 100%;
    /* border-bottom: 1px solid rgb(41, 38, 38); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 7px;
}

.hmiddle{
    width: auto;
    display: flex;
    margin: 5px;
    
}
.hmiddle div{
    /* border: 1px solid black; */
    display: flex;
    padding: 8px; 
    border-bottom: 4px solid transparent;
    font-size:16px;
    line-height: 18px;
}
.hright img {
    height: 100%;
    width: 70%;
    margin-left: 20px;
}
.hleft{
    padding: 3px 7px;
    font-size: 13px;
    margin-right: 20px;
}
/* third header */

.thirdheader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0 5px 0;
}
.thirdheader a{
    padding: 7px; 
    text-align: center;

}

.thirdheader div{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 500px;
    height: 36px;
    /* border:1px solid teal; */
    text-align: center;
}
 .rose{
     background-color: #ffe9e5;
 }
 .darkrose{
     background-color: #f8c9c8;
 }





 body {
    font-family: 'Lato';
    color: #323232;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    display: block;
}
.mainbox{
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
}
.photos
    {
    float: left;
    width: 65%;
}
.prodRight{
    float: right;
    width: 33%;
    padding-top: 2px;
    position: -webkit-sticky;
    position: sticky;
    top: 75px;
}
#kkk{
    margin: 0;
    padding: 0;
    text-align: center;
    float: left;
}
.sliderBox{
    display: flex;
    flex-wrap: wrap;
}
ul{
    margin: 0;
}
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.sliderBox li{
    list-style: none;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    width: 50%;
    position: relative;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.sliderBox li img {
    height: auto;
}
.sliderBox li img {
    width: 100%;
    display: block;
}
img {
    max-width: 100%;
    border: none;
}
.prodRight h2,.prodRight h1 {
    font-size: 30px;
    font-weight: 600;
    text-transform: none;
}
h1, h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.prodRight h4 {
    margin-top: 10px;
    font-family: 'Lato',sans-serif;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    
}
.prodRight h4 span {
    font-size: 20px;
    font-weight: 700;
    color: #f00;
}

.prodRight p {
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
    font-family: 'Lato',sans-serif;
    color: #999;
}
.prodSizeguide{
margin-top: 20px;

font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 1px;
}
.sizebox{
width:60%; 
height: auto;
display: flex;
justify-content: space-between;

}
.SIZE{
border:1px solid grey;
width: 19%;
text-align: center;
margin-top: 5px;


}
.addtobag{
width: 100%;
margin-top: 25px;
display: inline-block;
height: 70px;
}
.btn{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    background: #fc6486;
    display: table-cell;
    width: 55%;
    letter-spacing: 1px;
    padding: 18px 0;
    float: left;  
}
a {
    color: #323232;
    text-decoration: none;
    transition: all .3s ease 0s;
}
.fav{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    display: table-cell;
    letter-spacing: 1px;
    padding: 17px 10px;
    border: 1px solid #dcdcdc;
    float: left;
    width: 42%;
    box-sizing: border-box;
    margin-left: 3%;
    white-space: nowrap;
}
.offers{
    margin-top: 15px;
    border: 1px solid #dcdcdc;
    padding: 15px 15px 5px 15px;
}
.offers h6{
    font-size: 24px;
    padding-bottom: 10px;
}
.bestoferBox {
    border-top: 1px solid #dcdcdc;
    padding: 10px 0;
   
}
.bestoferBox h5{
   font-size: 20px;
}
.bestoferBox p{
    font-size: 15px;
}

.pincodebox {
    padding: 10px;
    border: 1px solid #dcdcdc;
    margin-top: 10px;
}
.pincodebox h5{
    font-size: 24px;
}
.pincodetext p{
font-size: 15px;
}
.pincodeinp {
    position: relative;
    margin-top: 15px;
}

.pincodeinp input[type="text"] {
    padding: 15px;
    border: 1px solid #dcdcdc;
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.pincodeinp span {
    position: absolute;
    top: 16px;
    right: 15px;
    cursor: pointer;
    color: #fc6486;
    font-weight: 600;
    font-size: 14px;
}